* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #FFFFFF;
}

.Wrapper {
    width: 100%;
}

.loading-cont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEF0;
    overflow: hidden;
    flex-direction: column;
    gap: 10px;
}

.loading-cont p {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}